.img-container  {
    height: 300px;
    width: 300px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
}

.img-container-contain {
    height: 300px;
    width: 300px;
    overflow: hidden;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
}

.img-container.girl, .img-container-contain.girl {
    background-image: url("../img/girl-1361904_1280.jpg");
}

.img-container.angel, .img-container-contain.angel {
    background-image: url("../img/angel-819644_1280.jpg");
}

.img-container img, .img-container-contain img {
    opacity: 0;
}

